
@{
    ViewBag.Title = "CompletePurchase";
}

<h2>CompletePurchase</h2>

<h3>Thanks, dear @ViewBag.Delivery.Name</h3>

<h4>Full information about purchase:</h4>

<table>
    <tr>
        <td><p>Name</p></td>
        <td>@ViewBag.Product.Name</td>
    </tr>
    <tr>
        <td><p>Type</p></td>
        <td>@ViewBag.Product.Type</td>
    </tr>
    <tr>
        <td><p>Price</p></td>
        <td>@ViewBag.Product.Price</td>
    </tr>
</table>

