@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>"Hello, I'm Michael! Here you can find a bit information about me</h2>

<address>
    <strong>+375(29)2186321</strong>
    <strong>Support:</strong>   <a href="mailto:kuznecow.mihail@gmail.com">kuznecow.mihail@gmail.com</a><br />
</address>