body {
    background-image: url(../Images/19.jpg);
}
table {
    margin-top:280px;
    margin-left:750px;
}
input {
    Width:150px;
    Height:45px;
    box-shadow:0 0 10px #1e0707;
    color:#6f2727;
    font-size:large;
    text-shadow:1px 1px 2px #220a0a;
    text-align:center;
    padding:6px 0 4px 10px;
    border:none; 
    background:#aa8484
}
span {
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 2px 2px 2px #1a1818;
    color: #c74545
}
h1 {
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 2px 2px 2px #1a1818;
    color: #c74545;
}
