
@{
    ViewBag.Title = "All teams";
}
@model List<NavigationProperty.Models.Team>

<h2>List of teams</h2>

<div>
    <table>
        <tr>
            <td><p>ID</p></td>
            <td><p>Name</p></td>
        </tr>
        @foreach(NavigationProperty.Models.Team team in Model)
        {
            <tr>
                <td>@team.ID</td>
                <td>@team.Name</td>
                <td>
                    @Html.ActionLink("Details", "GetDetails", new { id = team.ID })
                </td>
            </tr>
        }

    </table>
</div>

